/DeC-war/nbproject/private/
/DeC-ejb/nbproject/private/
/nbproject/private/
/DeC-ejb/build/
/DeC-war/build/
/DeC-ejb/dist/
/build/
/DeC-war/dist/
/DeC-adm/nbproject/private/
/DeC-adm/build/
/DeC-adm/dist/