html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.dec-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.dec-avatar-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.dec-avatar-dropdown .mdl-menu__item .mdl-navigation__link,
.dec-avatar-dropdown .mdl-menu__item .material-icons {
  color: #333333 !important;
}
.dec-avatar-dropdown .mdl-menu__item .material-icons {
  margin-right: 10px !important;
}
.dec-layout .dec-header .mdl-textfield {
  padding-top: 27px;
}
.dec-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.dec-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.dec-drawer .mdl-menu__container {
  z-index: -1;
}
.dec-drawer .dec-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.dec-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.dec-drawer-header {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: center;
  -ms-flex-pack: end;
  justify-content: center;
  padding: 0px 15px;
  height: 65px;
}
.dec-avatar-dropdown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.dec-navigation {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.dec-layout .dec-navigation .mdl-navigation__link {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.dec-layout .dec-navigation .mdl-navigation__link:hover {
  background-color: rgba(255,255,255,0.1);
}
.dec-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 15px;
}

.dec-content {
  max-width: 1080px;
}

.dec-charts {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.dec-chart:nth-child(1) {
  color: #ACEC00;
}
.dec-chart:nth-child(2) {
  color: #00BBD6;
}
.dec-chart:nth-child(3) {
  color: #BA65C9;
}
.dec-chart:nth-child(4) {
  color: #EF3C79;
}
.dec-graphs {
  padding: 16px 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .dec-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .dec-graph {
  max-height: 300px;
}
/* TODO end */
.dec-graph:nth-child(1) {
  color: #00b9d8;
}
.dec-graph:nth-child(2) {
  color: #d9006e;
}

.dec-cards {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}
.dec-cards .dec-separator {
  height: 32px;
}
.dec-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.dec-cards ul {
  padding: 0;
}
.dec-cards h3 {
  font-size: 1em;
}
.dec-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('../images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.dec-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.dec-options h3 {
  margin: 0;
}
.dec-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.dec-options ul {
  margin: 0;
  list-style-type: none;
}
.dec-options li {
  margin: 4px 0;
}
.dec-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.dec-options .mdl-card__actions {
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}